/* css for global */
body{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    background-color: bisque;
}
/* css for #sect1 */
#sect1{
    position: relative;
    text-align: center;
    padding: 10%;
    margin: 5%;
    opacity: .5;
    background-color: aquamarine;
}
#sect1-1{
    text-align: center;
    padding: 5%;
}
#sect1-1 h1{
    size: 30px;
}
#sect1-1 p{
    size: 15px;
    text-rendering: geometricPrecision;
    line-height: 1.5;
}
#sect1-3{
    padding: 5px;

}
#sect1-3 #btn1{
    padding: 10px;
    size: 15px;
    border: none;
    box-shadow: rgba(0 ,0 ,0 , 24);
    border-radius: 3px;
    cursor: pointer;
    transition: all 1s ease-in-out;
    transform: scale(1);
}
button:hover{
    transform: scale(1.12);
    transition: all 0.6s ease-in-out;
    background-color: darkgreen;
    opacity: .6;
    color: white;
}
/* css for #sect2 */
#sect2{
    display: none;
    position: relative;
    text-align: center;
    padding: 5%;
    margin: 10%;
}
#sect2-1{
    text-align: center;
}
#sect2-1 #form1{
    padding: 10px;
    background-color: aquamarine;
    opacity: .5;
}
#avatarimg1,
#avatarimg2{
    height: 120px;
    width: 120px;
    border-radius: 90px;
    transform: scale(1);
    transition: all 0.3s ease-in-out;
}
#sect2-1 #form1 p{
    margin: 20px;
}
#sect2-1 #form1 #sect2-1-2{
    padding: 15px ;
}
#sect2-1 #form1 #sect2-1-2 input{
    padding: 8px 8px;
    size: 12px;
    border: none;
    text-align: center;
    transition: all 0.3s ease-in-out;
    transform: scale(1);
}
#submitPlayerName{
    padding: 10px;
    size: 15px;
    border: none;
    box-shadow: rgba(0 ,0 ,0 , 24);
    border-radius: 3px;
}
/* css for #sect3 */
#sect3{
    display: none;
    position: relative;
    text-align: center;
    padding: 5%;
    margin-top: 10%;
    background-color: aquamarine;
    opacity: .5;
}
#gamePlayStats{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 10px 0;
    text-align: left;
}
#gamePlayStats  #gameStats ul{
    display: block;
}
#gaming{
    padding: 20px 0;
}
#theGame{
    padding: 10px 0;
}
#playerValue{
    padding: 8px 5px;
    size: 12px;
    border: none;
    text-align: center;
    width: 120px;
    transition: all 0.3s ease-in-out;
    transform: scale(1);
}
#playPost,
#Retry{
    padding: 8px 10px;
    size: 15px;
    border: none;
    box-shadow: rgba(0 ,0 ,0 , 24);
    border-radius: 3px;
}
.Retry{
    display: none;
}
input:grammar-error{
    text-underline-position: below;
}
#playerValue:hover,
#sect2-1 #form1 #sect2-1-2 input:hover{
    transition: all 0.3s ease-in-out;
    transform: scale(1.12);
    margin-right: 8px;
    filter: brightness(0.4);
}
img:hover{
    transform: scale(1.2);
    transition: all 0.3s ease-in-out;
    filter: brightness(0.4);
}
#gameLogs{
    max-height: 200px;
    overflow: scroll;
    scroll-behavior: auto;
    text-align: left;
}
